<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'userinfo', user: @book.user %>
      <%= render 'new', book: @new %>
    </div>
    <div class="col-lg-9">
      <h1>Book detail</h1>
      <table class="table">
        <tbody>
        <tr>
          <td>
            <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <%= link_to user_path(@book.user.id) do %>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td>
      		  <%= link_to book_path(@book.id) do %>
      		   <%= @book.title %>
      		  <% end %>
      		</td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
            <% end %>
          </td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>